.features {
	padding: var(--main-padding) 0;
	position: relative;
	background-color: white;
	margin: 100px 0;
}

.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 40px;
}

.features .box {
	text-align: center;
	border: 1px solid #ccc;
}

.features .box .image-holder {
	position: relative;
	overflow: hidden;
}

.features .box .image-holder::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	height: 100%;
}

.features .box .image-holder::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-width: 0 0 130px 500px;
	border-color: transparent transparent white transparent;
	transition: var(--main-transition);
}

.features .box .image-holder img {
	max-width: 100%;
}

.features .box .image-holder:hover::after {
	border-width: 170px 500px 170px 0;
}

.features .box h2 {
	font-size: 40px;
	position: relative;
	margin: auto;
	width: fit-content;
}

.features .box h2::after {
	content: "";
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 30px);
}

.features .box p {
	line-height: 2;
	font-size: 20px;
	margin: 30px 0;
	padding: 25px;
	color: #555;
}

.features .box a {
	position: relative;
	display: block;
	border: 3px solid transparent;
	width: fit-content;
	margin: 0 auto 30px;
	font-size: 25px;
	font-weight: bolder;
	padding: 0 30px;
	border-radius: 6px;
	transition: var(--main-transition);
}

.features .quality .image-holder::before {
	background-color: rgb(244 64 54 / 60%);
}

.features .quality h2::after {
	background-color: #f44036;
}

.features .quality a {
	color: #f44036;
	border-color: #f44036;
	background: linear-gradient(to right, #f44036 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
}

.features .time .image-holder::before {
	background-color: rgb(0 150 136 / 60%);
}

.features .time h2::after {
	background-color: #009688;
}

.features .time a {
	color: #009688;
	border-color: #009688;
	background: linear-gradient(to right, #009688 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
}

.features .passion .image-holder::before {
	background-color: rgb(3 169 244/ 60%);
}

.features .passion h2::after {
	background-color: #03a9f4;
}

.features .passion a {
	color: #03a9f4;
	border-color: #03a9f4;
	background: linear-gradient(to right, #03a9f4 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
}

.features .box:hover a {
	background-position: left bottom;
	color: white;
}
